/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap'); */

#bg{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position:absolute;
    left: 0;
    z-index: -1;
}

#videorobot {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position:absolute;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

.rectangle {
    display: table;
    width: 15vh;
    height: 15vh;
    /* background-color: white; */
    position:relative;
    border-radius: 50%;
  }

.titoloLogo{
    display: table-cell;
    vertical-align: middle;
    color: black;
    /* font-family: 'Raleway', sans-serif; */
}

img {
    display: inline;
    margin: 0 auto;
}


.about{
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    color: white;
    background-image: url("../images/tizio_automazione.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: "relative";
}

.team{
    background-color: transparent;
    width: 60%;
    margin: 0 auto;
}

.contatti {
    text-align: center;
    margin-top: 40px;
}