.sfondo {
    background-color: #ef6c00;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    overflow: hidden;
    position:absolute;
    display: table;
    position: absolute;
    flex-grow: 1;
}

.login{
    display: table-cell;
    vertical-align: middle;
}

.benvenuto{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    min-width: 100%;
    flex-grow: 1;
}